name: Build

on: [ workflow_call, workflow_dispatch, push, pull_request ]

jobs:
  build:
    name: build
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            binary-suffix: linux-x86_64
          - os: macos-latest
            binary-suffix: macos-x86_64
          - os: windows-latest
            binary-suffix: windows-x86_64
        os: [ ubuntu-latest, macos-latest, windows-latest ]

    steps:
      - name: Check out source files
        uses: actions/checkout@v3
        with:
          fetch-depth: 1

      - name: Update Toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          components: clippy

      - name: Build
        uses: actions-rs/cargo@v1
        with:
          command: build
          args: --release --all-features

      - name: Rustfmt
        uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: --check

      - name: Cargo Clippy
        uses: actions-rs/cargo@v1
        with:
          command: clippy
          args: --all-targets --all-features -- -D warnings

      - name: Cargo Test
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --profile release

      - name: Basic Testing
        continue-on-error: true
        if: ${{ matrix.os != 'windows-latest' }}
        run: |
          ${{ github.workspace }}/target/release/dura serve &
          sleep 15s
          ${{ github.workspace }}/target/release/dura kill

      - name: Basic Testing (Windows)
        continue-on-error: true
        if: ${{ matrix.os == 'windows-latest' }}
        run: |
          Start-Process -NoNewWindow ${{ github.workspace }}\target\release\dura.exe serve
          Start-Sleep -s 15
          ${{ github.workspace }}\target\release\dura.exe kill

      - name: Upload Binary
        uses: actions/upload-artifact@v2
        with:
          name: dura-${{ matrix.binary-suffix }}_${{ github.sha }}
          path: ${{ github.workspace }}/target/release/dura

